body{
    background-color: blanchedalmond;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: brown;
}
img{
    width: 100px;
    height: 100px;

}